# <span style = "color:blue"> ICS 141: Fall 2023</span>

## <span style = "color:blue"> Assignment 3</span>


    Student name: Alessandra Gudoy
    
    
 
##### <span style='color:red'>Grading breakbown:</span>

<span style='color:orange'>1. Theory - 70</span>


<span style='color:orange'>2. Code - 30</span>

-----

### <span style='color:green'>Grade: -/-</span>

-----
-----
-----

## Question 1 (30) - Induction Proofs

### [Chapter 5 slides]

#### _Show all 3 inductive steps in proof questions_

----

#### a. Show the base case and state the __strong inductive steps__, _but do not prove_:
 for all $n\ge2$:
 
 $$\sqrt[n]{n} < 2-\frac{1}{n}$$
 
 __[3 points]__
 
    Base case: Show that the comparison is true for n=2.
$\sqrt[2]{2} < 2-\frac{1}{2}$

=> $\sqrt[2]{2} < \frac{3}{2}$

We know that $\frac{3}{2}$ is greater because $\sqrt[2]{2}$ is about 1.414 and $\frac{3}{2}$ is 1.5.

    Inductive step: We assume that the inequality holds true for all n greater than or equal to 2 up to some integer k. Then, we need to prove that

$\sqrt[k]{k} < 2-\frac{1}{k}$ and
$\sqrt[k+1]{k+1} < 2-\frac{1}{k+1}$
are both true.

#### b. __Prove using strong induction__ that $17n^3+103n$ is divisible by $6$ for all integers $n$.

__[5 points]__

    Base case: Prove for n=1, n=2.
n=1

$17(1)^3+103(1)=17+103=120$

$120 / 6 = 20$

n=2

$17(2)^3+103(2)=17(8)+206=342$

$342 / 6 = 57$

    Inductive Step: Assuming that the equation is true for all integers until |n| (because negative integers will result in the same absolute values as the positive integers) until some integer k, we must prove that the equation is also true for the next integer, k + 1. In other words, P(1), P(2), P(3), ..., P(k-1), and P(k) are all true.

$17(k+1)^3+103(k+1)=17k^3+51k^2+154k+120=(17k^3+103k)+(51k^2+51k+120)$

The first part is true as we assume that P(k) is true. 

Checking even integers ($2m=k$) that $51k^2+51k+120$ is true:

$51(2m)^2+51(2m)+120 = 204m^2+102m+120$

    All the coefficients are divisble by 6 (204/6=34, 102/6=17, 120/6=20), therefore even integers for k are divisible by 6.


Checking odd integers ($2m+1=k$) that $51k^2+51k+120$ is true:

$51(2m+1)^2+51(2m+1)+120 = 204m^2+306m+222$

    All the coefficients are divisble by 6 (204/6=34, 306/6=51, 222/6=37), therefore odd integers for k are divisible by 6.

    
    By inductive reasoning, all integers for n will result in an integer divisible by 6.

#### c. __Prove using weak induction__ that  for all positive integers $n$

$$1^2+3^2+5^2+...+(2n-1)^2 = \frac{4n^3-n}{3}$$

__[5 points]__

    Base case: Prove for n=1, n=2.

n=1

$(2(1)-1)^1 = 1$

$\frac{4(1)^3-1}{3}=\frac{3}{3} = 1$

n=2

$(2(1)-1)^2 + (2(2)-2)^2 = 1 + 3^2 = 10$

$\frac{4(2)^3-2}{3}=\frac{4(8)-2}{3}=\frac{30}{3}=10$

    Inductive case: Assuming that P(n) is true for P(k), prove P(k+1)

By n=k,

$1^2+3^2+5^2+...+(2k-1)^2=\frac{4k^3-k}{3}$

For n=k+1

$1^2+3^2+5^2+...+(2k-1)^2 + (2(k+1)-1)^2 = 1^2+3^2+5^2+...+(2k-1)^2 + (2k+1)^2$

$\frac{4k^3-k}{3} + (2k+1)^2 = \frac{4(k+1)^3-(k+1)}{3}$

$\frac{4k^3-k}{3} + 4k^2+4k+1 = \frac{4(k^3 + 3k^2 + 3k + 1) - (k + 1)}{3}$

$\frac{4k^3-k+12k^2+12k+3}{3} = \frac{4k^3+12k^2+11k+3}{3}$

$\frac{4k^3+12k^2+11k+3}{3} = \frac{4k^3+12k^2+11k+3}{3}$

    Because both sides of the equation, P(k+1) is true.

#### d. __Prove__ the following for all positive integers $n$ __using weak induction__

$$\sum_{i=1}^n \frac{1}{i(i+1)} = \frac{n}{n+1}$$


__[5 points]__
    
    Base case: Prove for n=1, n=2.

For n=1,

$\sum_{i=1}^1 \frac{1}{i(i+1)} = \frac{1}{1(2)} = \frac{1}{2}$

$\frac{1}{1+1} = \frac{1}{2}$

For n=2,

$\sum_{i=1}^2 \frac{1}{i(i+1)} = \frac{1}{1(2)} + \frac{1}{2(2+1)} = \frac{1}{2} + \frac{1}{6} = \frac{3}{6} + \frac{1}{6} = \frac{2}{3}$

$\frac{2}{2+1} = \frac{2}{3}$

    Inductive case: Assume P(k) is true and prove P(k+1).


#### e. __Prove__ the following  for all $n ≥ 1$ __using weak induction__ :

$$\large (a+b)^n = \sum_{r=0}^n \binom{n}{r} a^{(n-r)}b^r$$

__[12 points]__

$$\small recall: \binom{n}{k} = \dfrac{n!}{k!(n-k)!}$$


$response$

-----

-----

-----

## Question 2 (30) - Counting, permutations and Combinations 
#### [Section 6.1-6.3 in the slides]

#### __Show your steps__

----

####  a) How many different license plates can be made if each plate contains a sequence of 4 lowercase English letters followed by 2 digits(0-9), followed by 1 uppercase English letter?

__[2 points]__

    There are 26 letters in the English alphabet to choose from and 10 digits to choose from.
    Therefore, 26 * 26 * 26 * 26 * 10 * 10 * 26 = 1188137600 different license plates.

####  b) How many different words (including nonsense words) can you make by rearranging the letters of the word "MISSISSIPPI " ?

__[3 points]__

    Number of 11-letter words:  11 * 10 * 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1 = 39916800
    By the product rule, there are a total of 39916800 different words made by rearranging the letters of "MISSISSIPPI."

####  c) Suppose we have the word “COUNTER”, how many ways can we rearrange the letters, if we require the last letter to be "T"?

__[4 points]__

    Letter options to choose from {"C", "O", "U", "N", "E", "R"}, last letter will always be "T", therefore, there is 6 letters to choose from first (because we exclude "T"), then 5 after choosing 1, then 4, finally, 1 and then add "T".
     
    Number of words = 6 * 5 * 4 * 3 * 2 * 1 = 720
    By the product rule, there are a total of 720 different combinations by rearranging the letters of "COUNTER" requiring the last letter to be "T."

####  d.  Suppose we have the word “CLIPBOARD”, How many words can be created if we require the last letter to be “P” or the first letter to be “R”?
__[4 points]__

    Letter options to choose from {"C", "L", "I", "B", "O", "A", "R", "D"} because last letter has to be "P", there is 8 letters to choose from first, until there is only one letter left and then add "T".
    Number of words requiring last letter to be "P" = 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1 = 40320

    Letter options to choose from is every letter except "R" because first letter has to be "R", we start with "R", and then have 8 letters to choose from, until there is only one letter left.
    Number of words requiring first letter to be "R" = 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1 = 40320

    Total number of words = 40320 + 40320 = 80640 words

    By the product and sum rule, the number of words created if "P" needs to be the last letter or the firs letter needs to be "R" is 80640 different words.

##### e. Suppose there are 195 countries in the world. At least how many people do we need in a room to guarantee that there are 3 people from the same country? Use the pigeon hole principle and show your steps.

__[5 points]__

    To have 2 people from the same country, assuming the worst case scenario that the first 195 people don't share the same country (all pidgeon holes are filled), we need 1 more, which makes it 196 people, guaranteeing that one pidgeon hole will have two pidgeons because there are more pidgeons than pidgeon holes. Therefore, to have 3 people from the same country, assuming the worst case scenario, that the first 2(195)=390 people results in each country having only two people from the same country, we need to add 1 more person, which makes it 391 people.

Using the equation:
$\lceil x/195 \rceil$ = 3

    x = 391 people

    Therefore, we need at least 391 people to guarantee that 3 people come from the same country.

####  f. A company has 7 distinct job positions and 11 qualified candidates. The company wants to fill all 7 positions with 7 different candidates. In how many ways can the company fill the 7 positions given they will 100% hire _Susan_?

__[5 points]__

    Knowing that Susan will have one of the positions, there are 6 distinct positions left and 10 candidates left. For the some x position, Susan will be chosen. Then, when choosing the first candidate for the first position that is not Susan's, there are 10 candidates to choose from. Then, 9, then 8, until there is only one position left, but 5 candidates to choose from. Because there are 7 different positions, we repeat the same process for each of the remaining positions.

    Number of ways to fill positions giving Susan position 1 = 10 * 9 * 8 * 7 * 6 * 5 = 151200 ways
    Number of ways to fill positions giving Susan position 2 = 10 * 9 * 8 * 7 * 6 * 5 = 151200 ways

    ... (Number of ways to fill positions giving Susan position x = 10 * 9 * 8 * 7 * 6 * 5 = 151200 ways)

    Number of ways to fill positions giving Susan position 7 = 10 * 9 * 8 * 7 * 6 * 5 = 151200 ways

    Total number of ways for any given position to Susan = 7(151200) = 1058400 different ways

    Therefore, by the product and sum rule, there are a total of 105840 different ways to fill the 7 positions given they will 100% hire Susan.

####  g. The company finds that _Cody_ and _Shota_ will not work together under  any circumstance. Susan(being a top candidate) also demands as part of her package that she will only sign if __Paul(also one of the 11)__ is hired as her assistant. the company has no choice but to hire __Paul__  so they get __Susan__.  In how many ways can they fill the 7 positions given these extra contraints?

__[7 points]__

    Because Susan is guaranteed to be hired, Paul is therefore also guaranteed to get hired. Now, there are 5 positions left to fill with 9 candidates left.

    If Cody gets hired, then Shota should not be hired. Therefore, the number of candidates to choose from after Cody is given a position is 7 (the 9 remaining after Susan and Paul get hired minus Cody and Shota) candidates. Then, 6, until for the final position, there are 4 candidates left.

    By the product rule, the number of ways to fill the remaining positions will be given by:
    Number of ways to fill remaining position given that Cody is given position 1 = 7 * 6 * 5 * 4 = 840
    Number of ways to fill remaining position given that Cody is given position 2 = 7 * 6 * 5 * 4 = 840
    ...
    Number of ways to fill remaining position given that Cody is given position 7 = 7 * 6 * 5 * 4 = 840

    Number of ways to fill remianing postions given that Cody is hired = 7(840) = 5880 different ways

    If Shota gets hired, then Cody should not be hired. The number of ways to fill the remaining positions given that Shota is hired is the same as that of the number of ways if Cody is hired.

    Therefore, by the product and sum rule, the total number of ways to fill the 7 positions given these extra constraints is 5880 + 5880 = 11760 different ways.

-----
-----
-----

## Question 3 (10) - Recursive Definition

----

#### a. Explain what you understand by recursion and give a nature-inspired, or meme like example of recursion.

__[3 points]__

    Recursion is taking a problem and dividing it into smaller problems until a base case is reached or where we can solve the problem. Then using the known solutions to the smaller problems to solve the bigger problems using the same steps. For example, n! is the same as n * (n-1)!, and then we keep going until we know that 0! is 1. Because of the repition in recursion, every loop can be rewritten as a recursive function and vice versa. One example of recursion in nature is cell division. At the start there is one cell. Then, it divides into two cells, then each cell divides into two cells (total of 4 cells), and so on.

#### a. Give a recursive definition of the set $S$ of positive integers congruent to 5 mod 9

__[3 points]__

Base case:
$5 \in S$

    The first positive integer congruent to 5 mod 9 is 5.

Recursive step: 
$(k + 9) \in S$

    Becasue 9 mod 9 is 0, then any positive integer x + 9, starting with x=5, will be congruent to 5 mod 9.

#### b. Define a set of positive integers, $S$, recursively, such that $S$ contains all positive integers that are congruent to 4 mod 7, and are not divisible by 8.

__[4 points]__

Base case:
$4 \in S$

    The first positive integer congruent to 4 mod 7 and not divisible by 8 is 4.

Recursive step:
$(k + 7) \in S$, where k+7 is not divisible by 8. If k+7 is divisible by 8, skip the number.

    Because 7 mod 7 is 0, then any positive integer k + 7, starting with x=4, will be congruent to 4 mod 7. However, we should skip the numbers where k + 7 is divisible by 8 to fulfill the second half, where all the elements in set S is, in addition to being congruent to 4 mod 7, is not divisible by 8.

-----
-----
-----

## Question 4 (30) - Coding Excercises

#### _make sure your output is showing when you submit._

----

#### a.  Given a list of integers with values ranging from 1 to $n$, where $n$ is the length of the list, write a function to find the integers that appear more than once in the list. your algorithm needs to run in $O(n)$ time complexity. 

use $[1,5,3,5,6,2,1]$, and  $[2,5,3,6,3,3,4,6,7,14,14,8,3,5,12,5]$ to as test your code

__[6 points]__

In [1]:
def find_duplicates(list_of_integers):
    integers = [0 for k in range(len(list_of_integers))]
    list_of_duplicates = []

    for i in list_of_integers:
        integers[i] = integers[i] + 1

    for i in range(0, len(list_of_integers)):
        if integers[i] > 1:
            list_of_duplicates.append(i)

    return list_of_duplicates

# Test your code
print(find_duplicates([1,5,3,5,6,2,1]))                         ## 5, 1
print(find_duplicates([2,5,3,6,3,3,4,6,7,14,14,8,3,5,12,5]))    ## 3, 6, 14, 5

[1, 5]
[3, 5, 6, 14]

##### b. Given an unsorted array of integers(both positive and negative) explain in words how you would use the pigeonhole principle to find the minimum positive integer that is missing.

__[3 points]__

    First, find the maximum value of the array. Then, create an array the same size as the number of positive integers up to the maximum value (1-max_value) where each element is 0. Then, go through the given array and for each positive integer in the array (x>0), mark the values found by changing the value to 1 of the index of the created array (where index=value found). Ignoring the first element of the created array (index 0), the first element that still has a value of 0 is the first minimum positive integer that is missing.

#### c. Following your response in (b), write a function to find the minimum positive integer that is missing in $O(n)$ time complexity. 

use $[3,9,2,-3,-5,1,9,6,4,8,72,5]$ and $[17,64,4,2,1,-3,76,-1,-5,16,13,9,10,18]$ as test cases

__[6 points]__

In [8]:
def find_minimum_positive(list_of_integers):
    minimum_positive = None
    maximum_value = max(list_of_integers)

    array = [0 for i in range(maximum_value+1)]

    for i in list_of_integers:
        
        if i > 0:
            array[i] = 1
    
    for i in range(1, len(array)):
        if array[i] == 0:
            return i

    return minimum_positive

# Test your code
print(find_minimum_positive([3,9,2,-3,-5,1,9,6,4,8,72,5]))                  ## 7
print(find_minimum_positive([17,64,4,2,1,-3,76,-1,-5,16,13,9,10,18]))       ## 3

7
3

#### d. We want to calculate $4C2, 15C3, 12C5, 10C7$.  We also want to calculate $13P6, 23P20$. Follow the steps below:

1. Write a __recursive function__ $factorial(n)$ that takes an integer $n$ and returns $n!$, recall $n! = n\times(n-1)\times(n-2)\times....\times1$
2. Write a funtion $combination(n,r)$ that uses (calls) the factorial function in (1) to find $nCr$, recall that $nCr = \frac{n!}{r!(n-r)!}$
3. Write a function $permutarion(n,r)$ that uses (calls) the factorial function in (1) to find $nPr$, recall that $nPr = \frac{n!}{(n-r)!}$

** _If you cant implement the recursive factorial, you will still get partial credit for the iterative factorial__ **

__[15 points]__

In [10]:
def factorial(n):
    if n == 0:
        return 1
    
    return n * factorial(n-1)

# Test your code
print(factorial(5))
#This should give 120

120

In [11]:
def combination(n, r):
    result = 0
    numerator = factorial(n)
    rFactorial = factorial(r)
    otherFactorial = factorial(n-r)

    result = numerator / (rFactorial * otherFactorial)
    
    return result

# Test your code
print(combination(5, 2))
#This should give 10

10.0

In [12]:
def permutation(n, r):
    result = 0
    numerator = factorial(n)
    denominator = factorial(n-r)

    result = numerator / denominator
    
    return result

# Test your code
print(permutation(5, 2))
#This should give 20

20.0

### Run these for results

In [14]:
print("combination results")
print("*"*20)
print(combination(4, 2))        ## 6
print(combination(15, 3))       ## 455
print(combination(12, 5))       ## 792
print(combination(10, 7))       ## 120
print("*"*20)

combination results
********************
6.0
455.0
792.0
120.0
********************

In [16]:
print("permutation results")
print("*"*20)
print(permutation(13, 6))       ## 1235520
print(permutation(23, 20))      ## 4.3086694564808297e+21
print("*"*20)

permutation results
********************
1235520.0
4.3086694564808297e+21
********************

-----
-----
-----

                    ########## Thanks for the semester!!!